<!DOCTYPE html>
<html>
{% include header.html %}

  <body>
    <div class="homepage-container">
    <header class="home-header">
      <h1>{{ site.title | escape }}</h1>
      <h3 class="sub-heading">{{ site.description }}</h3>
      <div class="home-div-container clearfix">
        <div class="header-left right table" style="text-align: right;">
          <div class="header-right" >
            <a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/{{ site.github }}" rel="me"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" rel="me"><i class="fab fa-linkedin"></i></a>
          </div>
          <div class="border-top">
            {% for my_page in site.pages %}
              {% if my_page.title %}
                <li>
                  <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
          </div>
        </div>
        
      </div>
    </header>
    <!-- <div class="home-blurb-container">
      <div class="home-left border-top">
        <h3>I've done this.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum semper ultricies. Nulla vulputate quis mi et vestibulum. Aliquam ac rutrum eros. Morbi ac mi tortor. Vivamus fringilla luctus porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam fringilla leo sit amet magna sollicitudin dictum. Donec rutrum, sem non sagittis pellentesque, nunc sapien posuere quam, non luctus nisl est id lorem. Curabitur ut tincidunt quam, vel bibendum lectus.</p>
      </div>
      <div class="home-right border-top">
        <h3>I've done that.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum semper ultricies. Nulla vulputate quis mi et vestibulum. Aliquam ac rutrum eros. Morbi ac mi tortor. Vivamus fringilla luctus porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam fringilla leo sit amet magna sollicitudin dictum. Donec rutrum, sem non sagittis pellentesque, nunc sapien posuere quam, non luctus nisl est id lorem. Curabitur ut tincidunt quam, vel bibendum lectus.</p>
      </div>
    </div> -->
    <div class="bottom-container">
      <div class="home-bottom border-top">
        <h2 style="margin-top: 10px; margin-bottom: 10px;" class="secondary-text">about me</h2>
        <p style="color:#292a2a;">I am a graduate student in Computer Science at University of Southern California. I am passionate about Natural Language Processing and Machine Learning in general, with the aim to develop more practical and data efficient solutions. Currently, I am a Research Assistant at LIME Lab, USC, working with Ziyi Liu on evaluating capabilities of LLMs in strategic gameplay and intent following.</p><br/>
        <p style="color:#292a2a;">Previously, I collaborated with Negar Mokhberian as part of the DataFirst initiative at ISI, USC from Sep'23 to Dec'23 on understanding the importance of discarded minority votes in annotated datasets for hate speech classification. I received the Best Data Science Developer award for my work. In Aug'20, I graduated from Dayanada Sagar College of Engineering, Bengaluru with a B.Tech in Computer Science & Engineering, achieving a University rank of 6. Post graduation, I gained 3 years of software development experience at Leadsquared and Sixt Research & Development, developing microservices for highly scalable distributed systems utilizing Kafka, Spring Boot, AWS services and Elasticsearch.</p>
      </div>
    </div>
    </div>
    {% include footer.html %}
  </body>
</html>
